<div class="step-container">
  <h1>Step 2: Select your config and options</h1>
  <div class="step-row">
    <div class="options">
      <app-car-configuration
        [configurations]="configurations()"
        [selectedConfiguration]="selectedConfiguration()"
        (carConfigurationChange)="
          configurationStateService.setCarModelConfig($event)
        "
      />
      @if(hasTowHitchOption()) {
      <app-car-checkbox
        id="includeTow"
        label="Tow hitch?"
        [selected]="selectedTowHitch()"
        (checkboxChange)="
          configurationStateService.setCarOptionTowHitch($event)
        "
      />
      } @if(hasYokeOption()) {
      <app-car-checkbox
        id="includeYoke"
        label="Yoke steering wheel?"
        [selected]="selectedYoke()"
        (checkboxChange)="configurationStateService.setCarOptionYoke($event)"
      />
      }
    </div>
  </div>
</div>
